*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    /*bringing our figma colors as variables*/

    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F58;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icon-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;

    font-size: 62.5% /* 10px */
    
    /*1 rem equals 16 megapizels, but by changing  its size  to 10
    we can change its value to 10pxs makinging it much easier to
    determine responsive font-sizes*/
}

body{
    display: flex;
    height: 100vh;
    /* 
    width: 100vw;
    to guarantee that our body will ocupy the entirety of our screen from top to
    bottom left to right we can use vh and vw respectively 
    */
    background: var(--background)
}

body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    /*clamp is a size interval that guarantees a minimum size a defaultand a max one*/
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content header {
    width: 80%;  
    margin: 3.5rem auto; 
}


.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px; 
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* input and buttons */

input, button, .button{
    border-radius: .8rem;
    height: 5rem;
}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .3rem solid var(--blue);
}

button.red,
.button.red{
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey-dark);
}